[submodule "firmware/components/esp-adf"]
	path = firmware/components/esp-adf
	url = https://github.com/espressif/esp-adf
[submodule "firmware/test/host/Unity"]
	path = firmware/test/host/Unity
	url = https://github.com/ThrowTheSwitch/Unity
